*{
	margin: 0px;
	padding: 0px;
}

#sidebar
{
	position: fixed;
	width: 200px;
	height: 100%;
	z-index: 5;
	background: #151719;
	left: -200px;
	transition: all 500ms linear;
}

#sidebar.active
{
	left: 0px;
}

#sidebar ul li
{
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100,100,100,0.4);
}

#sidebar  li a
{
	text-decoration: none;
	color: white;
}

#sidebar .toggle-btn
{
	postion: absolute;
	margin-left: 230px;
	margin-top: 15px;
}

#sidebar .toggle-btn span
{
	display: block;
	width: 30px;
	height: 4px;
	background: #151719;
	margin: 5px 0px;
}

.content 
{
	
	align-content: center;
	transition: transform
 0.4s ease;	
}
.sidebar .content
{
	transform: translate3d(200px,0,0);
}

